.menu-bar {
  max-width: 100vw;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 200;
  padding: 0px;
}
