
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.search-component {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100vw;
  background: rgba(0,0,0,.5);
  height: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}

.search-component input {
  padding-left: 15px;
  outline: none;
  max-width: 50%;
  background: transparent;
  position: relative;
  color: white;
  border: none;
}

.search-items {
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 35px);
  background: rgba(0,0,0,.5);
  display: inline-block;
}

.search-results {
  /* height: fit-content; */
  /* min-height: 10px; */
  width: 700px;
  max-height: 700px;
  background: #fff;
  overflow: auto;
  position: relative;
  margin: 0 auto;
}

.search-item {
  color: black;
  display: grid;
  align-items: center;
  padding: 4px 10px;
  cursor: pointer;
  min-height: 50px;
  border-bottom: 1px solid rgba(51,51,51,.12);
}

.search-item:hover {
  background-color: #e0e4e7;
}

.search-message {
  align-self: center;
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
  transition: opacity 3s;
  user-select: none;
  color: whitesmoke;
}
.search-message:hover {
  opacity: 1 !important;
  transition: opacity 0.3s;
}