
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.search-component {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100vw;
  background: rgba(0,0,0,.5);
  height: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}

.search-component > div {
  align-self: center
}

.search-component input {
  padding-left: 15px;
  outline: none;
  max-width: 50%;
  background: transparent;
  position: relative;
  color: white;
  border: none;
}

.search-message {
  align-self: center;
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
  transition: opacity 3s;
  user-select: none;
  color: whitesmoke;
}
.search-message:hover {
  opacity: 1 !important;
  transition: opacity 0.3s;
}