@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}